
<div class="main" fxLayout="row" fxLayoutAlign="center center"  fxFlex="100">

    <div class="perfil" fxLayout="column" fxLayoutAlign="end">
        <div class="photo" fxLayout="row" fxLayoutAlign="center start" fxFlex="100">
            <img src="../../../../assets/yo.jpg">
        </div>
        <div class="name" fxLayout="row" fxLayoutAlign="center end" fxFlex="100">
            <span>Jorge Rojas</span>
        </div>
        <div class="profession" fxLayout="row" fxLayoutAlign="center end" fxFlex="100">
            <span>ING. Sistemas - Desarrollador Junior</span>
        </div>
        <div class="social" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
            <button mat-icon-button>
                <a href="https://github.com/Jorica" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                 
            </button>
            <button mat-icon-button>
                <a href="https://www.linkedin.com/in/linkjoro/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                
            </button>
            <button mat-icon-button>
                <i class="bi bi-whatsapp"></i>
            </button>
            <button mat-icon-button>
                <a href="https://www.facebook.com/jorgex96/" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
                
            </button>

        </div>

    </div>
  
</div>


