
<div class="main" fxLayout="row" fxLayoutAlign="center center"  fxFlex="100">

    <div class="perfil" fxLayout="column" fxLayoutAlign="end center">
        <div class="photo" fxLayout="row" fxLayoutAlign="center start" fxFlex="100">
            <img src="../../../../assets/images.jpg" >
        </div>
        <div fxLayout="row" fxLayoutAlign="center end" fxFlex="100">
            <h1>Jorge Rojas</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center end" fxFlex="100">
            <span>Ingeniero Sistemas - Desarrollador Junior</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
            <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

    </div>
  
</div>


